.weather-day-box {
  background: #FFF;
  padding: 30px;
  border-radius: 4px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;

  .temp {
    font-size: 32px;
  }

  .date {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
  }
}