.weather-view {
  width: 100%;
  display: flex;
  max-width: 990px;
  margin: 40px auto;

  .loading {
    opacity: 0.4;
    width: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #FFF;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}