@import 'base';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
