.page-layout {
  background: #1A1A1B url('/images/polar.png') no-repeat right bottom;
  height: 100%;
  padding: 60px 15px;
  color: #FFF;

  h1 {
    margin: 0;
  }

  main {
    max-width: 990px;
    margin: 0 auto;
  }

  header {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;

      a {
        margin-left: 30px;
        color: #FFF;
        opacity: 0.6;
        text-decoration: none;

        &.active {
          opacity: 1;
          color: $primary-color;
          text-decoration: underline; 
        }
      }
    }
  }
}